flask
requests
gunicorn

flask-sqlalchemy
sqlalchemy
Flask-WTF
wtforms[email]
flask-migrate
flask-login
flask-mail
flask-caching

flask-assets
cssmin
jsmin

Flask-RQ2
rq==1.4.3
rq-dashboard

stripe

sentry-sdk[flask]


# Dev
pytest
pytest-flask
pytest-cov
vcrpy
fakeredis
flask-debugtoolbar
flake8
