interactions:
- request:
    body: payment_method_types[0]=card&client_reference_id=1&line_items[0][name]=Sherlock+Homes&line_items[0][description]=a+house+hunting+detective&line_items[0][amount]=500&line_items[0][currency]=usd&line_items[0][images][0]=https%3A%2F%2Fplacehold.co%2F600x400%3Ftext%3DSherlock+Homes&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Flocalhost%2Fproduct%2F1%2Fpost_checkout%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D%26status%3Dsuccess&cancel_url=http%3A%2F%2Flocalhost%2Fproduct%2F1%2Fpost_checkout%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D%26status%3Dcancel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 77b60f6d-efd3-498d-acbc-7d770e668552
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: "{\n  \"id\": \"cs_test_5wNXzCuphhbDNm68HOAyGzLxjjzgAKe6jlfVtbmhicKwuCWxugrQK8z8\",\n
        \ \"object\": \"checkout.session\",\n  \"billing_address_collection\": null,\n
        \ \"cancel_url\": \"http://localhost/product/1/post_checkout?session_id={CHECKOUT_SESSION_ID}\\u0026status=cancel\",\n
        \ \"client_reference_id\": \"1\",\n  \"customer\": null,\n  \"customer_email\":
        null,\n  \"display_items\": [\n    {\n      \"amount\": 500,\n      \"currency\":
        \"usd\",\n      \"custom\": {\n        \"description\": \"a house hunting
        detective\",\n        \"images\": [\n          \"https://placehold.co/600x400?text=Sherlock
        Homes\"\n        ],\n        \"name\": \"Sherlock Homes\"\n      },\n      \"quantity\":
        1,\n      \"type\": \"custom\"\n    }\n  ],\n  \"livemode\": false,\n  \"locale\":
        null,\n  \"metadata\": {\n  },\n  \"mode\": \"payment\",\n  \"payment_intent\":
        \"pi_0Gu2KpgfllZ6wsUOkgVuOAd7\",\n  \"payment_method_types\": [\n    \"card\"\n
        \ ],\n  \"setup_intent\": null,\n  \"shipping\": null,\n  \"shipping_address_collection\":
        null,\n  \"submit_type\": null,\n  \"subscription\": null,\n  \"success_url\":
        \"http://localhost/product/1/post_checkout?session_id={CHECKOUT_SESSION_ID}\\u0026status=success\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 77b60f6d-efd3-498d-acbc-7d770e668552
      original-request:
      - req_eYZ3DBzonI25zQ
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2018-09-06'
    status:
      code: 200
      message: OK
version: 1
