interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/customers/cus_G3RryQUasJG0Jw
  response:
    body:
      string: "{\n  \"id\": \"cus_G3RryQUasJG0Jw\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1571979820,\n  \"currency\": null,\n  \"default_source\": null,\n  \"delinquent\":
        false,\n  \"description\": null,\n  \"discount\": null,\n  \"email\": \"customer@example.com\",\n
        \ \"invoice_prefix\": \"F46EE136\",\n  \"invoice_settings\": {\n    \"custom_fields\":
        null,\n    \"default_payment_method\": null,\n    \"footer\": null\n  },\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"name\": null,\n  \"next_invoice_sequence\":
        1,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n  ],\n  \"shipping\":
        null,\n  \"sources\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n
        \   \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_G3RryQUasJG0Jw/sources\"\n
        \ },\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n
        \   ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_G3RryQUasJG0Jw/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_G3RryQUasJG0Jw/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2018-09-06'
    status:
      code: 200
      message: OK
version: 1
